<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpPlatform processPath="node.exe d:\home\site\wwwroot\hello.js" arguments="">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.web>
</configuration>