<% if @items.empty? %>
  <%= render 'shared/no_items' %>
<% else %>
  <ul>
    <% @items.each do |item| %>
      <li class="list-group-item">
        <div class="row">
          <%= render 'shared/item_in_list', item: item %>
          <div class="col-md-auto">
            <a href="<%= new_selling_item_path(selling_item: { inventory_index: item.inventory_index, transaction_type: :coin }) %>" class="btn btn-primary">
              コインで販売
            </a>
            <a href="<%= new_selling_item_path(selling_item: { inventory_index: item.inventory_index, transaction_type: :barter }) %>" class="btn btn-primary">
              物々交換で販売
            </a>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
